div.head-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    border: 1px solid aqua;
}

.profile {

    height: 50px;
    width: 50px;
    top: 50px;
    bottom: 50px
}

div.one,
div.two {
    display: grid;
}

.drop {
    height: 40px;
    width: 40px;

}

.box{
    display: flex;
    padding: 30px;
    flex-direction: column;
    
}
.box>* {
    /* flex: 1 1 60px; */
    margin: 10px;
    border: 1px solid red
}
.course{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start
    
}
.hi{
    margin-left: 20px;
    border-bottom: 5px solid #32BDD2;
    font-family: Roboto;
    font-size: 32px
}
.add-course{
    display: flex;
    flex-flow: column;
    
}
label{
    margin-left: 20px;
    font-family: Roboto;
    font-size: 24px
}
.course_title{
    width:700px;
    height: 50px;
    margin-left:20px;
    border-radius: 10px;
}
.format_option{
    width:600px;
    margin-left:20px;
    height: 50px;
    border-color: #CECECE;
    border-radius: 15px;
}
.intro{
    height:200px;
    width:700px;
    margin-left:20px;
    border-radius: 10px;
}
.submit{
    margin-left:30px;
    font-size: 18px;
    background-color: #32BDD2;
    color: #FFFFFF;
    border-radius: 15px;
    height: 50px;
    width: 100px
}
.cancel{
    font-size: 18px
}
.option_val{
    height: 45px;
    font-size: 16px;
    background-color:#FFFFFF
}
.success_msg{
    display: flex;
    background-color: #BAE5D3;
    height: 300px;
}
.msg{
    display: flex;
    flex-flow: column;
    align-self: auto;
}
.success{
    font-size: 30px;
    margin-left: 25px;
    color: #3B6956;
}
.desc{
    width: 600px;
    margin-left: 25px;
    color: #3B6956;
    font-size: 24px;
}
.next{
    font-size: 30px;
    margin-left: 25px;
    color: #3B6956;
}
.next_action{
    font-size: 24px;
    margin-left: 25px;
    color: #3B6956;
    border-bottom: #3B6956;
}